<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
      <form name="sentMessage" id="contactForm" action="{{ url_for('login_data') }}" method="post" novalidate>
          <label>Name</label>
          <input type="text" placeholder="name" name="username">
          <label>Password</label>
          <input type="text" placeholder="password" name="password">
          <label>Email</label>
          <input type="email" name="email" class="form-control" placeholder="Email Address" id="email"
                required data-validation-required-message="Please enter your email address.">
          <button type="submit">OK</button>
      </form>
    </body>
</html>